.about{
    background-color: rgb(76,86,93);

}
/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.mission{
    
    width: 80%;
    max-width: 1080px;
    margin: auto;
 
    
}
h1{
    margin-top: 50px;
}
span {
    line-height: 1.8em;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    background-color: #ffffff;
    border-top-width: 8px;
    border-color: #00aaff;
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
    margin-bottom: 0px !important;
    box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.1);
} */
 

